extends ./layout.jade

block title
    title #{article.place.name}: #{article.title}

block description
    meta(name='description', content=article.lead)

block og
    meta(property='og:type', content='article')
    meta(property='og:url', content='http://naprirodku.ru/articles/#{article.id}/')
    meta(property='og:image', content='http://naprirodku.ru/articles/#{article.id}/photos/cover.jpg')
    meta(property='og:title', content='#{article.place.name}: #{article.title}')
    meta(property='og:description', content=article.lead)
    meta(property='article:author:first_name', content=article.user.firstname)
    meta(property='article:author:last_name', content=article.user.lastname)

block append scripts

    //- Fancybox
    script(type='text/javascript', src='//cdnjs.cloudflare.com/ajax/libs/jquery-mousewheel/3.1.13/jquery.mousewheel.min.js')
    script(type='text/javascript', src='//cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js')
    script(type='text/javascript').
        $(document).ready(function() {
            $('.article img').parent('a').addClass('fancybox').attr('rel', 'gallery');
            $('.fancybox').fancybox();
        });

    //- Google Maps
    script(type='text/javascript', src='//maps.googleapis.com/maps/api/js?key=AIzaSyBGS4s7sCKiF9s8m0v_9sZhR60e-_L_0hM')
    script(type='text/javascript').
        google.maps.event.addDomListener(window, 'load', function() {
            var position = {
                lat: #{article.place.position.lat},
                lng: #{article.place.position.lng}
            };

            var map = new google.maps.Map(document.getElementById('map'), {
                center: position,
                scrollwheel: false,
                disableDefaultUI: true,
                zoomControl: true,
                zoom: 10
            });

            var marker = new google.maps.Marker({
                map: map,
                position: position
            });
        });

    //- Yandex Share
    script(type='text/javascript', src='//yastatic.net/share2/share.js')
    script(type='text/javascript').
        Ya.share2('share', {
            theme: {
                services: 'vkontakte,facebook,gplus,twitter',
                counter: true
            }
        });

    //- HyperComments
    script(type='text/javascript').
        _hcwp = window._hcwp || [];
        _hcwp.push({widget:"Stream", widget_id: 73569});
        (function() {
            if("HC_LOAD_INIT" in window)return;
            HC_LOAD_INIT = true;
            var lang = (navigator.language || navigator.systemLanguage || navigator.userLanguage || "en").substr(0, 2).toLowerCase();
            var hcc = document.createElement("script"); hcc.type = "text/javascript"; hcc.async = true;
            hcc.src = ("https:" == document.location.protocol ? "https" : "http")+"://w.hypercomments.com/widget/hc/73569/"+lang+"/widget.js";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hcc, s.nextSibling);
        })();

block append styles

    //- Fancybox
    link(rel='stylesheet', type='text/css', href='//cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css')

block content
    .container(style='margin-top: 20px')
        .row
            .col-md-7

                //- Article
                .article !{article.body}

                //- Comments
                #hypercomments_widget

            .col-md-4.col-md-offset-1

                //- Author
                .header.visible-xs-block.visible-sm-block
                    h2(style='color: #999') Автор
                .media(style='margin: 20px 0px')
                    .media-left.media-middle
                        img.media-object.img-circle(src='/users/#{article.user.id}/avatar.jpg', style='width: 100px; height: 100px')
                    .media-body.media-middle
                        h3.media-heading #{article.user.firstname} #{article.user.lastname}

                //- Location
                .header
                    h2(style='color: #999') Расположение
                #map(style='height: 250px')
                table.table
                    tr
                        td Адрес
                        td #{article.place.address}
                    tr
                        td Координаты
                        td [#{article.place.position.lat},#{article.place.position.lng}]

                //- Share
                .header
                    h2(style='color: #999') Поделиться
                #share

                //- New Articles
                .header
                    h2(style='color: #999') Новые статьи
                each article in articles
                    include lead