.row
    .col-sm-4.col-md-12
        a(href='/articles/#{article.id}/')
            img.img-responsive(src='/articles/#{article.id}/photos/cover.jpg', style='margin-bottom: 20px')
    .col-sm-8.col-md-12
        h3(style='margin: 0px')
            a(href='/articles/#{article.id}/') #{article.place.name}: #{article.title}
        p #{article.lead}
        p
            a.btn.btn-default.btn-sm(href='/articles/#{article.id}/') Читать полностью